{% load static%}
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="{% static 'css/home.css'%}">
    </head>
    <body>


    <div class="topnav" id="myTopnav" >

      <a href="{% url 'index' %} " class="left {% if nbar == 'index' %}active{% endif %} " id='home'>Home</a>
      <a href="{% url 'sell' %}" class="left {% if nbar == 'sell' %}active{% endif %}">Sell</a>
      <a href="{% url 'buy' %}"  class="left {% if nbar == 'buy' %}active{% endif %}">Buy</a>

  {% if user.is_authenticated %}
      <a href="{% url 'logout'%}"  class="right">Logout</a>
      <a> Welcome {{user.username}}</a>
  {% else %}
      <a href="{% url 'login' %}" class="{% if nbar == 'login' %}active{% endif %} ">Login</a>
      <a href="{% url 'register' %}" class="{% if nbar == 'register' %}active{% endif %} ">SignUp</a>
  {% endif %}
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
     <i class="fa fa-bars"></i>
   </a>
    </div>


    {% block body_block%}

    {% endblock %}
  <div class="footer">
    <div class="footer_div">
      <p>Follow us on:</p>
        <p>instagram</p>
        <p>facebook</p>
        <p>twitter</p>
    </div>
      <div class="footer_div">
         <p>Address:</p>
         <p>Main office:</p>
         <p>dahh adjhd Banglore</p>

      </div>

      <div class="footer_div">
         <p>Read our cookies policy:</p>
         <p>We use cookies for better user interaction:</p>
      

      </div>

  </div>


      </body>


  <script>




  function myFunction() {
    var x = document.getElementById("myTopnav");
    var home=document.getElementById('home');
    if (x.className === "topnav") {
      x.className += " responsive";
      document.getElementById("home").style.marginTop = "50px";

    } else {
      x.className = "topnav";
      document.getElementById("home").style.marginTop = "0px";
    }





  }
  </script>



</html>
