{% extends 'app/base.html'%}
{%load static%}
  {%block body_block%}
<div class='login_big'>
<div class="row">



      <div class="col-lg-7 col-md-7">
        <!-- Slideshow container -->
            <div class="slideshow-container">

      <!-- Full-width images with number and caption text -->
              <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
              <img src="{%static 'images/im1.jpg'%}" style="width:100%">
              <div class="text">Caption Text</div>
              </div>

            <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
            <img src="{%static 'images/im4.jpg'%}" style="width:100%">
                <div class="text">Caption Two</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">2 / 3</div>
                <img src="{%static 'images/im3.jpg'%}" style="width:100%">
                    <div class="text">Caption Two</div>
                    </div>



    </div>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>

    </div>

    <div class="col-lg-5 col-md-5">
      {% if slug %}
      <h2>{{message}}</h2>
      <form action="{%url 'login_param' slug %}" method="post">
      {% else %}
      <form action="{%url 'login'%}" method="post">
      {%endif%}
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" >
        <br>

        <label for="password">password:</label>
        <input type="text" name="password" >
  <br>
        <input type="submit"alue="Login">
      </form>

    </div>
</div>
</div>

<script type="text/javascript">
var slideIndex = 0;
showSlides();

function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}
    slides[slideIndex-1].style.display = "block";
    setTimeout(showSlides, 4000); // Change image every 2 seconds
}
</script>



  {%endblock%}
