{% extends 'app/base.html'%}
{%load static%}
  {%block body_block%}
<div class='login_big' >
<center><h2>{{message}}</h2></center>


    <div class="login_form_div">

      {% if slug %}

      <form action="{%url 'login_param' slug %}" method="post">
      {% else %}
      <form action="{%url 'login'%}" method="post">
      {%endif%}
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" >
        <br>

        <label for="password">password:</label>
        <input type="text" name="password" >
        <br>
        <input type="submit" value="Login">

        <br>
        <br>
        <p>Don't have account yet? <a href="{%url 'register'%}">Signup</a></p>
      </form>


    </div>

</div>

<script type="text/javascript">

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
    document.getElementById("myTopnav").style.padding = "10px 5px";

  //  document.getElementById("logo").style.fontSize = "25px";
  } else {
    document.getElementById("myTopnav").style.padding = "100px 25px 0 25px";

  //  document.getElementById("logo").style.fontSize = "35px";
  }
}


</script>



  {%endblock%}
