{% extends 'app/base.html'%}
{%block body_block%}
  <h3>User Profile</h3>
<div class="sell_products_div">
<div class="sidenav">
  <a href="#prof1">Manage your information</a>
  <hr class='sidenav_hr'>
  <a href="#prof2">Sold Products</a>
  <hr class='sidenav_hr'>
  <a href="#prof3">unsold Products</a>
  <hr class='sidenav_hr'>
  <a href="#prof4">Purchased Product</a>
  <hr class='sidenav_hr'>
  <a href="#prof5">Contact</a>
</div>

<!-- Page content -->
<div class="main">
    <h3 id='prof1'>User Information :</h3>

    <div class="editable_user">
      <p>Email:<span id='email'> {{user.email}}</span></p>
      <p>First Name:<span id='first_name'> {{user.first_name}} </span></p>
      <p>First Name: <span id='last_name'>{{user.last_name}} </span></p>


      <p>Last Login: {{user.last_login}} </p>
      <p>Date Joined: {{user.date_joined}} </p>

      <button type="button" onclick="edit_profile()">Edit</button><span id='cancel_button'></span>
  </div>
  <br>
  <br>
  <br>
  <div class="profile_product_list">
    <h3 id='prof2'>Sold Products:</h3>
<br>
  {% if not prev_sold_product%}
    <h4 style="color:gray">No products here</h4>
  {%else%}
    {% for item in prev_sold_products %}

    <div class="prev_columns">
      <ul class="prev_price" style='background-color:white'>
        <li>Name: {{item.prod_name}}</li>
        <li class="grey">Price: {{item.price}}</li>
        <li>Kind: {{item.kind}}</li>
        <li>Owner: {{item.seller}}</li>
        <li>Color: {{item.color}}</li>

        <li>  <img class="card-img-top prev_price_img"  src="../media/{{item.image}}" alt="images" width='100%' height="180px"></li>

      </ul>
    </div>
    {% endfor %}
    {% endif %}
  </div>
  <div class="profile_product_list">
    <br>
    <br>
<h3 id='prof3'>Previous unsold Products:</h3>

<br>
{% if not prev_products%}
  <h4 style="color:gray">No products here</h4>
{%else%}
  {% for item in prev_products %}

<div class="prev_columns">
  <ul class="prev_price" style='background-color:white'>
    <li>Name: {{item.prod_name}}</li>
    <li class="grey">Price: {{item.price}}</li>
    <li>Kind: {{item.kind}}</li>
    <li>Owner: {{item.seller}}</li>
    <li>Color: {{item.color}}</li>

    <li>  <img class="card-img-top prev_price_img"  src="../media/{{item.image}}" alt="images" width='100%' height="180px"></li>
    <li><a href="#" >Manage Price</a></li>
    <li><a href="{% url 'delete_product' pk=item.id %}" >Remove</a></li>
  </ul>
</div>
{% endfor %}
{%endif%}
</div>
<br>
<br>
  <div class="profile_product_list">

    <h3 id='prof4'>Purchased Product:</h3>
<br>
{% if not bought_products%}
  <h4 style="color:gray">No products here</h4>
{%else%}
    {% for item in bought_products %}

  <div class="prev_columns">
    <ul class="prev_price" style='background-color:white'>
      <li>Name: {{item.prod_name}}</li>
      <li class="grey">Price: {{item.price}}</li>
      <li>Kind: {{item.kind}}</li>
      <li>Owner: {{item.seller}}</li>
      <li>Color: {{item.color}}</li>

      <li>  <img class="card-img-top prev_price_img"  src="../media/{{item.image}}" alt="images" width='100%' height="180px"></li>

    </ul>
  </div>
    {% endfor %}
  {%endif%}
  </div>




</div>
</div>
































  <script>
    function edit_profile()
    {
      var email=document.getElementById("email").innerHTML;
      var first_name=document.getElementById("first_name").innerHTML;
      var last_name=document.getElementById("last_name").innerHTML;

  document.getElementsByClassName('editable_user')[0].innerHTML='<form action="{% url "edit" %}" method="post"><p>Email: <input type="email" name="email" value='+email+'></p><p>First_name:<input type="text" name="fname" value='+first_name+' ></p><p></input>Last_name:<input type="text" name="lname"value='+last_name+' ></p>{% csrf_token %}<p><input type="submit"  value="Update"></p><button class="submit_edit" onclick="cancel_edit_profile()">Cancel</button></form>';

    }
    function cancel_edit_profile()
    {
      var email=document.getElementById("email").innerHTML;
      var first_name=document.getElementById("first_name").innerHTML;
      var last_name=document.getElementById("last_name").innerHTML;


      document.getElementsByClassName('editable_user')[0].innerHTML=" ";
      document.getElementById("email").innerHTML='Email: {{user.email}}';
      document.getElementById("first_name").innerHTML='First_name: {{user.first_name}}';
      document.getElementById("last_name").innerHTML='Last_name: {{user.last_name}}';
        document.getElementById('cancel_button').innerHTML='';
    }
  </script>


{%endblock%}
