{% extends 'app/base.html' %}
{% block body_block %}

<!--
  <h1>List page of Sell products</h1>
  <form  method="post">
    Filterl: <input type="text" name="filter">
    orderBy:<input type='text' name='order'>
    <input type="submit" value="Search">

  </form>

-->
<div class="sidenav_sell">
  <h4>Filters:</h4>
  <hr class='sidenav_sell_hr'>
  <form method="post" action="{% url 'buy'%}">
    {% csrf_token %}
    <label for="kind">Kind:</label>
        <select id="kind" name="kind">
          <option value="" selected></option>
        {% for item in kind%}

        <option value="{{item.category}}">{{item.category}}</option>
        {%endfor%}
        </select>
    <label for="color">color</label>
        <select id="color" name="color">
          <option value="" selected></option>
        {% for item in color%}
        <option value="{{item.color_name}}">{{item.color_name}}</option>
        {%endfor%}
      </select>
  <br>
    <input type="submit" value="Search">
    </form>
<br>
    <h4>Sort by:</h4>
    <form method="post">
      {% csrf_token %}
      <input type="radio" id="price" name="price-date" value="Price1">
      <label for="male">Price High to Low</label><br>
      <input type="radio" id="price" name="price-date" value="Price2">
      <label for="female">Price Low to High</label><br>
      <input type="radio" id="date" name="price-date" value="Date1">
      <label for="male">Date-Latest</label><br>
      <input type="radio" id="price" name="price-date" value="Date2">
      <label for="female">Date-Old</label><br>
      <input type="submit" value="Sort">
      </form>

</div>
<div class='sell_products_div'>

<h3>{{message}} </h3>
  {% if product_list%}

  {% for item in product_list %}

  <div class="columns">
    <ul class="price" style='background-color:white'>
      <li>Name: {{item.prod_name}}</li>
      <li class="grey">Price: {{item.price}}</li>
      <li>Color: {{item.color}}</li>
      <li>Owner: {{item.seller}}</li>
      <li>Date: {{item.updated_on}}</li>
      {% if diff_buy%}
      <li>  <img class="card-img-top"  src="../../media/{{item.image}}" alt="images" width='100%' height="180px"></li>
      {% else%}
        <li>  <img class="card-img-top"  src="../media/{{item.image}}" alt="images" width='100%' height="180px"></li>
      {% endif %}
      <li class="grey"><a href="{% url 'prodetail' pk=item.id %}" class="button">Purchase</a></li>

    </ul>
  </div>


  {%endfor%}
  {%else%}
    <h4 style='color:gray'>NO PRODUCT OF YOUR MATCH</h4>
  </div>
  {%endif%}

{% endblock%}
