{% extends 'app/base.html' %}
{% block body_block %}

<!--
  <h1>List page of Sell products</h1>
  <form  method="post">
    Filterl: <input type="text" name="filter">
    orderBy:<input type='text' name='order'>
    <input type="submit" value="Search">

  </form>

-->
<div style='background-color:#d4f3ef;height:100%;overflow:auto;'>

<div class="">
  <form method="post">
    {% csrf_token %}
    <h5>Filters</h5>
    kind:<input type="text" name="kind">
    COLOR:<input type="text" name="color">

    <input type="submit" value="Search">
  </form>
</div>
<br>
<br>
<br>

  {% for item in product_list %}

  <div class="columns">
    <ul class="price" style='background-color:white'>
      <li>Name: {{item.prod_name}}</li>
      <li class="grey">Price: {{item.price}}</li>
      <li>Kind: {{item.kind}}</li>
      <li>Owner: {{item.seller}}</li>
      <li>Color: {{item.color}}</li>

      <li>  <img class="card-img-top"  src="../media/{{item.image}}" alt="images" width='100%' height="180px"></li>
      <li class="grey"><a href="{% url 'purchase' pk=item.id %}" class="button">Purchase</a></li>

    </ul>
  </div>


  {%endfor%}
  </div>
  </div>
{% endblock%}
