{% extends 'app/base.html'%}
{% block body_block%}

<div class="sell_products_div">

  <center style='color:green'>{{message}}</center>
    <div class="sell_div">
      <h4>Add details of the prodcut</h4>
      <h4 style='color:red'>{{error}}</h4>
      <form enctype="multipart/form-data" method="post">
        {% csrf_token%}
        {{form.as_p}}
        <input type="submit" value="add to sale">
      </form>
    </div>
  <div class="prev_sell_div">
<br>
    <hr>
  <h1>Your Previous unsold products:</h1>

    {% for item in prev_product %}

    <div class="prev_columns">
      <ul class="prev_price" style='background-color:white'>
        <li>Name: {{item.prod_name}}</li>
        <li class="grey">Price: {{item.price}}</li>
        <li>Kind: {{item.kind}}</li>
        <li>Owner: {{item.seller}}</li>
        <li>Color: {{item.color}}</li>

        <li>  <img class="card-img-top prev_price_img"  src="../media/{{item.image}}" alt="images" width='100%' height="180px"></li>
        <li><a href="#">Remove</a></li>
      </ul>
    </div>
    {% endfor %}

  </div>
  <hr>
<h1>Your sold products:</h1>

  {% for item in prev_sold_product %}

  <div class="prev_columns">
    <ul class="prev_price" style='background-color:white'>
      <li>Name: {{item.prod_name}}</li>
      <li class="grey">Price: {{item.price}}</li>
      <li>Kind: {{item.kind}}</li>
      <li>Owner: {{item.seller}}</li>
      <li>Color: {{item.color}}</li>

      <li>  <img class="card-img-top prev_price_img"  src="../media/{{item.image}}" alt="images" width='100%' height="180px"></li>
    </ul>
  </div>
  {% endfor %}

</div>


{% endblock %}
